html,
body {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: auto;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 50%;
  width: 18%;
  padding: 2.5em 3em;
  font-size: 15px;
  color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
}

.card img {
  width: 65px;
  height: 40px;
}

.card h1 {
  margin: 1.5em 0 0.5em;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 400;
  font-family: "Big Shoulders Display";
}

.card p {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 700;
  line-height: 2em;
  margin-bottom: 4em;
}

.card button {
  margin-top: auto;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 30px;
  width: 50%;
  padding: 1em;
  font-size: 1.15em;
}

.card-1 {
  background: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-1 button {
  color: hsl(31, 77%, 52%);
}

.card-2 {
  background: hsl(184, 100%, 22%);
}

.card-2 button {
  color: hsl(184, 100%, 22%);
}

.card-3 {
  background: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-3 button {
  color: hsl(179, 100%, 13%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
