html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20%;
  flex-grow: 0;
  text-align: left;
  height: 60%;
  font-size: 15px;
  color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
}

.card > * {
  margin: 1em 1.25em;
}

.card img {
  width: 65px;
  height: 40px;
}

.card h1 {
  text-transform: uppercase;
  justify-self: start;
  font-size: 2.5em;
  font-weight: 400;
  margin: 0.5em;
  font-family: "Big Shoulders Display";
}

.card p {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 700;
  line-height: 1.75em;
  margin-bottom: 4em;
}

.card button {
  margin-top: auto;
  border: none;
  border-radius: 30px;
  width: 50%;
  padding: 0.75em;
  font-size: 1em;
}

.card-1 {
  background: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-1 button {
  color: hsl(31, 77%, 52%);
}

.card-2 {
  background: hsl(184, 100%, 22%);
}

.card-2 button {
  color: hsl(184, 100%, 22%);
}

.card-3 {
  background: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-3 button {
  color: hsl(179, 100%, 13%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 880px) {
  .card p {
    line-height: 1.25em;
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 1em auto;
  }

  .card {
    flex-wrap: nowrap;
    flex: 1;
    height: auto;
    width: 60%;
  }

  .card > * {
    margin: 0 1.5em;
  }

  .card img {
    height: 3vh;
    width: 5vh;
    margin-top: 1.5em;
  }

  .card h1 {
    font-size: 20px;
    margin: 0.5em 1em;
  }

  .card p {
    line-height: 1.1em;
    font-size: 13px;
  }

  .card button {
    font-size: 13px;
    padding: 0.5em 0.6em;
    margin-bottom: 10px;
  }

  .card-1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }

  .card-3 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 0;
  }

  .attribution {
    top: 0;
    width: 100%;
  }
}
